# pnpm does not hoist prisma and pg to the root node_modules by default, which causes issues with Next.js when it tries to resolve these dependencies. By adding these patterns to the .npmrc file, we can ensure that pnpm hoists these packages to the root level, allowing Next.js to find them correctly.
public-hoist-pattern[]=*prisma*

public-hoist-pattern[]=pg